*{
    margin-right: 0px;
}

.navbar{
    background-color: paleturquoise;
}

.fleft{
    float: left;
}

.profile{
    background-color: rgba(175, 238, 238, 0.1);
}

.profileimg{
    height: 200px;
    width: 200px;
    border-radius: 200px;
    margin: 20px;
}

.btn{
    color: white;
    background-color: rgb(151, 211, 211);
    width : 150px;
}

.btn-file{
    color: white;
    background-color: paleturquoise;
}

.panel{
    margin-top: 50px;
}

.panel-body{
    margin-top: 15px;
}

::-webkit-input-placeholder { 
  font-style: italic;
  opacity: 3;
  text-align: right;
}

::-moz-placeholder { 
    font-style: italic;
    opacity: 3;
    text-align: right;
}

.text-muted{
    text-align: right;
}

.custom-file-input{
    border: solid black 1px;
}

label{
    padding-left: 0px;
}