*{
    margin-right: 0px;
}

.navbar{
    background-color: paleturquoise;
}

.fleft{
    float: left;
}

.bg-gray{
    background-color:rgb(226, 226, 226);
}

.balance{
    background-color:lightgray;
}

.shadow{
    box-shadow: -8px 0px 10px -10px, 8px 0px 10px -10px;
    padding: 0px;
}

.shadow-left{
    box-shadow: -8px 0px 4px -10px;
}

.shadow-right{
    box-shadow: 8px 0px 4px -10px;
}

.shadow-top{
    box-shadow: 0px -8px 4px -10px;
}

.shadow-bottom{
    box-shadow: 0px 8px 4px -10px;
}

.profileimg{
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.btn{
    color: white;
    background-color: rgb(151, 211, 211);
}

.navbar-brand{
    text-shadow: 0ch;
}

.menuitem{
    color: rgb(255, 80, 80);
    padding-top: 10px;
}

.centrify{
    text-align: center;
}

h6{
    color: rgb(40, 149, 185);
}

.icon{
    object-fit: cover;
    height: 30px;
    width: 30px;
}

p{
    margin-bottom: 0px;
}

.nav{
    font-size: 18px;
}

table{
    table-layout: fixed;
}

.tdate{
    width: 10%;
}

.texpenses{
    width: 60%;
}

.tfriend{
    width: 20%;
}

.tuser{
    width: 20%;
}

th{
    border: 0px;
    font-weight: normal;
}

td{
    vertical-align: middle;
}

.monetise{
    font-weight: bold;
    padding-right: 20px;
    text-align: right;
    /* color: rgb(0, 140, 255); */
    color: rgb(71, 211, 211);
}

.monetiseNeg{
    font-weight: bold;
    padding-right: 20px;
    text-align: right;
    color: palevioletred;
}

.calendar{
    background-color: paleturquoise;
    color: white;
    text-align: center;
    font-weight: bold;
}

.total{
    color: rgb(71, 211, 211);
}

.modal-dialog{
    left: 0;
    right: 0;
    top: 5%;
    bottom: 0;
    margin: auto;
}

label{
    text-align: start;
}

.form-inline{
    margin-bottom: 10px;
    margin-right: 10px;
}

.miniprofile{
    object-fit: cover;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.modal-header{
    background-color: paleturquoise;
}