<div class="col-xs-12">
  <!-- Navbar -->
  <nav class="navbar d-flex flex-row">
    <a class="navbar-brand" href="#">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Esko_Praha_logo.svg/410px-Esko_Praha_logo.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Splitbill
    </a>

    <div class="ml-auto d-flex flex-row align-items-center">
        <div class="p-2">
            <img class="miniprofile" src="https://pbs.twimg.com/profile_images/782474226020200448/zDo-gAo0_400x400.jpg" alt="Your Picture Here">
        </div>
        <div class="p-2">
            <div class  ="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Elon Musk
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </div>
        </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  
</div>